@media only screen and (max-width: 900px) {
    .grid {
        height: auto;
        grid-template-areas:
            'menu header'
            'menu content'
            'menu footer';
        grid-template-columns: 0;
    }

    .hamburger-menu {
        display: block;
    }

    .box-header>p {
        padding: 20px 70px;
    }

    .box-menu {
        display: none;
        transition: width 2s ease;
        -webkit-transition: width .2s ease;
        -moz-transition: width .2s ease;
        -ms-transition: width .2s ease;
        -o-transition: width .2s ease;
    }

    .box-header .input-group .search-bar,
    .box-header .input-group .search-icon,
    .box-header .input-group .notification-icon,
    .box-header .input-group .user-icon {
        display: none;
    }
}