* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
}

header {
    grid-column: span 12;
    display: flex;
    background-color: lightblue;
    padding: 10px 10px;
    position: sticky;
    top: 0;
}

header>div:nth-child(2) {
    margin-left: 2em;
}

header>div:nth-child(3) {
    margin-left: auto;
}

aside {
    grid-column: span 4;
    background: yellow;
}

main {
    grid-column: span 8;
    background: black;
    color: white;
    display: grid;
    grid-template-rows: 50px 100px 50px;
}

main>p {
    color: yellow;
}

.main-div {
    background: red;
    border: 3px solid green;
    margin: 10px 10px;
}

footer {
    grid-column: span 12;
    background: red;
}