main {
    grid-column: span 10;
    color: black;
    display: grid;
    text-align: center;
}

main .things-h1 {
    font-size: 3.6rem;
}

main .happy-halloween-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 3em;
}